<div class="container" *ngIf="recipe" >
  <div class="row text-center" >
    <div class="col-md-8 col-lg-6 m-auto p-0">
      <h3 id="top">Edit form</h3>
      <!-- Errors msg -->
      <div *ngFor="let error of errors">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{error}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <form [formGroup]="editForm" >
        <!--name-->
        <div class="form-group">
            <input [value]="recipe.name" placeholder="Name" #name >
        </div>
        <div class="errorMsg">
          {{msgName}}
        </div>
        <!--servings-->
        <div class="form-group">
          <label>Servings <input type="number" [value]="recipe.servings" id="servings" #servings></label>
        </div>
        <!--list of ingredients-->
        <div class="form-group">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Ingredients</th>
                  <th>Quantity</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ingredientsList; let i = index" id="nameIngre" >
                  <td #ingre>{{item[0].name}}</td>
                  <td ><input [value]="item[1]"  #newWeight (change)='onEdit(i, newWeight.value, item[0].kcal);'></td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm m-1" (click)='onDelete(i)'>Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          <!--Add product to the list of products-->
          <div>
            Add ingredients to the list
            <div formArrayName="ingreServer">
              <select [(ngModel)]="ingredient" [ngModelOptions]="{standalone: true}" class="inputIngre">
                <ng-container *ngFor="let item of ingreServerList" >
                  <option [ngValue]="item" >
                    {{item.name}} - {{item.kcal}} kcal
                  </option>
                </ng-container>
              </select>
            </div>
            <div class="errorMsg">
              {{msg}}
            </div>
            <div class="form-group">
                <label >Weight (grams) <input id="weight" #weight></label>
            </div>

            <div class="form-group">
              <button type="button"  class="btn btn-primary btn-sm" (click)="addIngredient(weight.value)">Add ingredient</button>
            </div>
            <!--add new ingredient-->
            <hr>
            <div *ngIf="successMsg" >
              <div class="alert alert-success alert-dismissible fade show" role="alert">
                The ingredient <span style="font-size: 1.1em; font-weight: bold;">{{newIngredientName | lowercase}}</span> has been added
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <p>If the ingredient you need is not on the list, add a new ingredient to the list by clicking the button</p>
            <button type="button" class="btn btn-primary btn-sm" (click)="productEdit = !productEdit">
              <span *ngIf="!productEdit">New Ingredient</span>
              <span *ngIf="productEdit">Back</span>
            </button>

            <app-product-form *ngIf="productEdit" (newProductName)="newProductAdd($event)"></app-product-form>
            <hr>
          </div>
        </div>

        <!--Preparation-->
        <div class="form-group" >
          <div *ngFor="let item of preparation; let i = index" >
            <textarea class="form-control" [value]="item" (change)="changePara(prepa.value, i)" #prepa></textarea>
          </div>
        </div>

        <!--Image-->
        <div class="form-group">
          <input type="file" class="d-none" (change)="onPhotoSelected($event)" #image>
          <img [src]="photoSelected || 'assets/no-image-icon.png'" class="img-fluid" (click)="image.click()">
        </div>
        <button [disabled]="!editForm.valid" type="button" class="btn btn-primary btn-sm" (click)="onSubmit(name.value, servings.value, recipe._id)" [routerLink]="['/recipeEdit/' + id]" fragment="top"  >Save changes</button>
      </form>
    </div>
  </div>

</div>
