<div class="footerContainer">
  <div class="row text-center align-items-center  ">
    <div class="col-md-6 ">
      <p>Created by Alejandro Rebaldería</p>
    </div>
    <div class="col-md-6 p-5">
      <p>The icons on this page were taken from <a href="https://thenounproject.com/" target="_blank">https://thenounproject.com/</a></p>
      <p>Groceries by monkik from the Noun Project.</p>
      <p>Healthy ingredients by Becris from the Noun Project.</p>
      <p>Organic food by Becris from the Noun Project
      </p>
    </div>
  </div>
</div>
