<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Name: </label>
    <input formControlName="name" class="form-control" required>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" >
      <div *ngIf="name.errors.required" class="errorMsg">
        Name is required
      </div >
    </div >
  </div>

  <h4>Ingredients</h4>
  <p>Choose the ingredients from the list</p>
  <div class="form-group">
    <div formArrayName="ingreServer">
      <select [(ngModel)]="ingredient" [ngModelOptions]="{standalone: true}" >
        <ng-container *ngFor="let item of ingredients">
          <option [ngValue]="item" >
            {{item.name}} - {{item.kcal}} kcal
          </option>
        </ng-container>
      </select>
    </div>
  </div>

  <div class="form-group">
    <input type="text" class="form-control" formControlName="weight" placeholder="Weight">
    <div *ngIf="weight.invalid && (weight.touched || weight.dirty)" class="errorMsg">
      <!-- <div *ngIf="weight.errors.required">
        weight is required
      </div> -->
      <div *ngIf="weight.errors.notNumber">
        weight sould be a number
      </div>
    </div >
  </div>

  <div class="errorMsg">
    {{msg}}
  </div>

  <div class="form-group">
    <button type="button" (click)="addProduct()">Add Ingredient</button>
  </div>

  <hr>

  <p>If the ingredient you need is not on the list, add a new ingredient to the list by clicking the button<p>
  <button type="button" (click)="productEdit = !productEdit">
    <span *ngIf="!productEdit">New Ingredient</span>
    <span *ngIf="productEdit">Back</span>
  </button>

  <app-product-form *ngIf="productEdit" (productEdit)="newProductAdd($event)"></app-product-form>

  <hr>

  <h4>List of ingredients</h4>
  <ng-container *ngFor="let ingre of listIngredients">
    <li>{{ingre[0].name}} - {{ingre[1]}} grs - {{ingre[2]}} kcal</li>
  </ng-container>
  <h4>Preparation</h4>
  <div class="form-group">
    <textarea formControlName="preparation" cols="50" rows="10" ></textarea>
  </div>

  <div class="form-group" >
    <label>Image: </label>
    <input type="file" class="hidden" (change)="onPhotoSelected($event)" #image>
    <img [src]="photoSelected || 'assets/no-image-icon.png'" class="img-fluid" (click)="image.click()">

  </div>
  <button [disabled]="!recipeForm.valid">Save Recipe</button>
</form>




