<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 m-auto">
      <h3 class="text-center mb-4">About this app</h3>
      <p>
        This app is now in its first level of development. Currently you can use one of their recipes or, if you sign in, make one on your own. You can choose the ingredients for your recipe from the default list or you can add the ones you want and save them to the database.
      </p>
      <p>
        In the next level you will be able to create a weekly diet, automatically add the ingredients of those recipes to a purchase list and get a list of recipes within the calorie range of your dietary needs
      </p>
      <p>
        The main idea of ​​this application is to give you the possibility of having a balanced diet, keeping your body fit and healthy.
      </p>
      <h6>
        This is not a medical app and is not based on professional medical judgment
      </h6>
    </div>
  </div>
</div>
