<div class="container">
  <div class="row">
    <div class="col-md-8 col-lg-6 m-auto">
      <h3 class="text-center mb-4">About this app</h3>
      <p>
        If you like to cook, you like vegan dishes and you control the calories you eat, this application is great for you.
      </p>
      <p>
        Here you will find <span [routerLink]="['/recipes']">vegan recipes</span>, which you can add to your account, and you can create your <span [routerLink]="['userRecipes']">own recipes</span>, vegan or not, and your own ingredients with their respective calories.
      </p>
      <p>
        You just need a scale and a little knowledge about cooking.
      </p>
      <p>
        Create an account and start cooking incredible and healthy dishes.
      </p>
    </div>
  </div>
</div>
