<div class="container">
  <div class="row ">
    <div class="col-md-6 col-lg-4" *ngFor="let recipe of recipes" >
      <div class="card m-4">
        <div class="card-body text-center">
          <h4 class="card-title"><a [routerLink]="['/recipeView/' + recipe._id]" routerLinkActive="router-link-active">{{recipe.name}}</a></h4>
          <h6 class="card-subtitle">{{recipe.kcalTot}} kcal per 100 grs</h6>
          <a [routerLink]="['/recipeView/' + recipe._id]" routerLinkActive="router-link-active" >
            <div class="overflow-hidden" style="height: 150px;">
              <img src="{{recipe.filePath}}" class="img-fluid m-3" *ngIf="recipe.filePath">
              <img src="/assets/no-image-icon.png" alt="No image" *ngIf="!recipe.filePath">
            </div>
          </a>
        </div>
      </div >
    </div>
  </div>
</div>

  <!-- <table class="table table-striped table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->

  <!-- <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div> -->

  <!-- <div class="alert alert-warning" role="alert">
    A simple warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
  </div>


  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
