<!-- Recipes -->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4 p-0" *ngFor="let recipe of recipes" >
      <div class="card border-light " >
        <div class="card-body text-center m-auto p-0">
          <h4 class="card-title"><a [routerLink]="['/recipeView/' + recipe._id]" routerLinkActive="router-link-active">{{recipe.name}}</a></h4>
          <h6 class="card-subtitle m-2">{{recipe.kcalTot}} kcal per 100 grs</h6>
          <a [routerLink]="['/recipeView/' + recipe._id]" routerLinkActive="router-link-active" >
            <div class="overflow-hidden mb-4" style="height: 200px;" *ngIf="recipe.filePath">
              <img src="{{recipe.filePath}}" class="img-fluid " >
            </div>
          </a>
        </div>
      </div >
    </div>
  </div>
</div>

