<!-- Product Form -->

<div class="container mt-4">
  <div class="row ">
    <div class="col-md-8 text-center mx-auto">
      <div class="card border-light">
        <div *ngIf="errorName" class="errorMsg mb-2">
          {{msg}}
        </div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="form-group bg-transparent">
            <label>Ingredient's name  </label>
            <input type="text" formControlName="name"  required #nameFocus>
          </div>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="errorMsg">
            <div *ngIf="name.errors.required">
              Name is required
            </div >
          </div>
          <div class="form-group bg-transparent">
            <label>Kcal per 100 grs  </label>
            <input type="text" formControlName="kcal" required>
          </div>
          <div *ngIf="kcal.invalid && (kcal.dirty || kcal.touched)" class="errorMsg">
            <div *ngIf="kcal.errors.required">
              KCal is required
            </div >
            <div *ngIf="kcal.errors.notNumber">
              KCal must be a number
            </div >
          </div >
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-sm m-2" [disabled]="!productForm.valid">Add new Ingredient</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

