<!-- User Recipes -->
<div class="container">
  <div class="row" *ngIf="userRecipes">
      <ng-container *ngIf="userRecipes.length === 0; else recipesUser">
        <p class="lead m-auto" *ngIf="user">Welcome {{user.name}}, you do not have recipes yet, create one <a [routerLink]="['/recipeForm']">here.</a></p>
      </ng-container>
      <ng-template #recipesUser>
        <div class="col-md-6 col-lg-4 m-auto p-0" *ngFor="let recipe of userRecipes" >
          <div class="card border-light mb-4" >
            <div class="card-body text-center m-auto p-0">
              <h4 class="card-title"><a [routerLink]="['/recipeView/' + recipe._id]" >{{recipe.name}}</a></h4>
              <hr>
              <h6 class="card-subtitle m-2"><span>{{recipe.kcalTot / recipe.servings | number: '1.0-0'}}</span> kcal per serving</h6>
              <h6 class="card-subtitle m-2" style="font-size: xx-small;"><span>{{recipe.kcalTot * 100 / recipe.weightTot | number: '1.0-0'}}</span> kcal per 100 grs</h6>
              <hr>
              <div class="overflow-hidden mt-4" style="height: 200px;" *ngIf="recipe.filePath">
                <a [routerLink]="['/recipeView/' + recipe._id]">
                  <img src="{{recipe.filePath}}" class="img-fluid ">
                </a>
              </div>
            </div>
          </div >
        </div>
      </ng-template>
  </div>
</div>

