/* You can add global styles to this file, and also import other style files */

.mainContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  min-height: 600px;
}

.errorMsg {
  color: red;
}

.successMsg {
  color: green;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  /* font-size: 1.1em; */
}

.active {
  font-size: 1.1em;
  color: #888;
}

li {
  list-style: none;
}

/* button {
  border-radius: 10px;
  width: 30%;
} */

.btn {
  border-radius: 5px;
  width: 40%;
}

table .btn {
  width: 80%;
}

input {
  width: 50%;
  margin: auto;
  text-align: center;
}

.nav-bar {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 33;
}

#weight {
  width: 20%;
}

#servings {
  width: 20%;
}
